Config(
    n_cells: 2,
    cell_radius: 2.0,
    bounds: (
        (x: 0.0,   y: 0.0), 
        (x: 10.0, y: 10.0), 
    ),
    spatial_hash_cell_size: 10,

    max_render_fps: 144,
    max_sim_tps: 1,
) 