Config(
    n_cells: 600_000,
    cell_radius: 2.0,
    bounds: (
        (x: 0.0,    y: 0.0), 
        (x: 8000.0, y: 8000.0), 
    ),
    spatial_hash_cell_size: 25,

    max_render_fps: 144,
    max_sim_tps: 144,
) 